# This is my note

In [1]:
1+1

2

 These are more notes

In [2]:
#set the midpoint
midpoint = 5

# make two empty lists
lower = []; upper = [];

#split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)
        
print("lower:", lower)
print("upper:", upper)

lower: [0, 1, 2, 3, 4]
upper: [5, 6, 7, 8, 9]

In [3]:
#Variables and Ojects

#assign 4 to the variable x
x = 10
y = x
x +=5 
print("x =", x)
print( "y =", y)

x = 15
y = 10

In [4]:
x='hello'
type(x)

str

In [5]:
#append lists
l =[1, 2, 3]
l.append(100)
print(l)

[1, 2, 3, 100]

In [6]:
#checks if vaule is interger
x= 4.5
x.is_integer()

False

In [9]:
#floor division
print(11//2)

5

In [10]:
#update opp
a=1
a +=2
print(a)

3

In [11]:
# 25 is odd
25 % 2 == 1

True

In [12]:
-1 == ~0

True

In [13]:
#boolean operations
x = 4
(x < 6) and (x > 2)

True

In [14]:
# (x >1)and or (x < 10)
(x > 1) != (x < 10)

False

In [16]:
 1 in [1, 2, 3]

True