# Day 2

int, float, complex, bool, str, nonetype

float point numbers run into problems

In [1]:
0.1 +0.2 ==0.3

False

In [7]:
print("0.6 = {0:.17f}".format(0.6))
print("0.1 = {0:.17f}".format(0.1))
print("0.2 = {0:.17f}".format(0.2))
print("0.3 = {0:.17f}".format(0.3))

0.6 = 0.59999999999999998
0.1 = 0.10000000000000001
0.2 = 0.20000000000000001
0.3 = 0.29999999999999999

complex numbers

In [8]:
complex (1,2)

(1+2j)

can use suffix j

In [9]:
1+2j

(1+2j)

complex numbers have a variety of intersting attirubtes and methods, which is beloe

In [10]:
c = 3 + 4j
c.real # real part 
c.imag # imginary part
c. conjugate()
abs(c) # magnitube

5.0

String type

In [11]:
message="what do you like"
response ="spam"
len(response)
response.upper()
message.capitalize()
message + resoponse
5 * response

NameError: name 'resoponse' is not defined

None type

In [12]:
type(None)

NoneType

In [13]:
return_value=print('abc')

abc

In [14]:
print(return_value)

None

Boolean Type

In [15]:
result = (4 < 5)
result

True

True and Flase must be capatlized

In [16]:
bool(2014)

True

flase if = to 0, true otherwise. str if empty "" and true otherwise.

In [17]:
bool(0)

False

conversion between datatypes, use paratheses

In [18]:
int(1.7)

1

In [19]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [20]:
user="Jackson"
lines=100
print("COngrats, " + user.capitalize() + "you wrote" + str(lines) + "of code")

COngrats, Jacksonyou wrote100of code

built in data structures

list [] typle () dict {'a':1 , 'b':2, 'c':3} key value pairs set {1, 2,3}

list are basic ordered and mutable

In [27]:
L = [2, 3, 5, 7]

In [22]:
len(L)

4

In [28]:
L.append(11)
L

[2, 3, 5, 7, 11]

In [29]:
L + [13, 17, 19]

[2, 3, 5, 7, 11, 13, 17, 19]

In [31]:
L.sort()
L

[2, 3, 5, 7, 11]

list has type felxibity

list indexing and slicing

In [33]:
L=[2, 3, 5, 7, 11]

In [34]:
L[0] #indexing list 0 is the first number

2

In [35]:
L[-1] # last number

11

slicing accessing multiple values in sub-listins. it uses a colon to indicate the start point inclusive and the endpoint is not included

In [36]:
L[0:3]

[2, 3, 5]

In [38]:
L[-3:]

[5, 7, 11]

In [39]:
L[::2] #starting point 0:len(L):2

[2, 5, 11]

In [40]:
L[::-1] #resvers the list

[11, 7, 5, 3, 2]

In [41]:
len(L)

5

tuples are defined with ()

In [42]:
t =(1, 2, 3)

In [43]:
t = 1, 2, 3
print(t)

(1, 2, 3)

tuples once created can not be changed or append

In [44]:
t[0]

1

In [45]:
t[1] = 4

TypeError: 'tuple' object does not support item assignment

In [47]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [54]:
numerator, denominator = x.as_integer_ratio()
print()

Dictionaries flexible mappings of values pairs {}

In [50]:
number = {'one':1, 'two':2, 'three':3}

In [51]:
#access
number['two']

2

In [53]:
number['ninety'] = 90
print(number)

{'one': 1, 'two': 2, 'three': 3, 'ninety': 90}

sets {} unordered collection of items. simliar

In [55]:
primes ={2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}

collection models
collections.namedtuple
collections.OrderedDict

In [59]:
str1='Marissa\'sAwesome'
print(str1)

Marissa'sAwesome

In [60]:
print(type(0xFF))

<class 'int'>